---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'

// Content
// - SEO
const SEO = {
	title: 'WordIslam | Kontribusi',
	description:
		"Dukungan terhadap website WordIslam."
}
// - Page Header
const header = {
	title: 'Kontribusi & Dukungan Untuk <strong>WordIslam</strong>',
	text: '#',
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} />
	<SidebarContent>
		<div slot="sidebar">
			<h3>Mukaddimah</h3>
			<p>
				
			</p>
		</div>
		<div class="basic-text">
			<h4>Selamat Datang di WordIslam</h4>
			<p>
				Kami dengan senang hati menerima kontribusi dan dukungan dari pengguna kami. Kontribusi Anda akan membantu kami untuk terus meningkatkan dan memperbaiki website WordIslam. 
				Kami sangat menghargai setiap dukungan yang Anda berikan, dan kami berharap dapat bekerja sama dengan Anda untuk menciptakan pengalaman yang lebih baik bagi semua pengguna WordIslam.
			</p>

			<h4>Ketentuan Umum</h4>
			<p>
				<li>Penggunaan yang Sah: Anda bertanggung jawab untuk menggunakan WordIslam dengan etika dan etika yang sesuai.
					Kami tidak bertanggung jawab atas penggunaan yang tidak sah atau tidak sah yang dilakukan oleh pengguna.</li>
				<li>Anda tidak diperbolehkan untuk menggunakan WordIslam untuk tujuan ilegal, tidak sah, atau melanggar Undang Undang.</li>
				<li>Anda tidak diperbolehkan untuk menggunakan WordIslam untuk tujuan yang merugikan atau merugikan pihak lain.</li>
			</p>

			<h4>Ketentuan Khusus</h4>
			<p>
				<li>Anda diperbolehkan memposting link affliate yang terkait kategori di WordIslam.</li>
				<li>Admin WordIslam memiliki hak untuk tidak mempublikasikan perubahan kode maupun konten yang tidak sesuai dengan ajaran Islam.</li>
			</p>

			<h4>Kontributor</h4>
			<p>
				<li>Semua nama Kontributor akan kami tuliskan di halaman Kontributor sebagai bentuk apresiasi dari kami.</li>
				<li>Kontributor dapat meminta penghapusan data kepada kami.</li>
			</p>
		</div>
	</SidebarContent>
	<SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
		<div slot="sidebar">
			<h3>Petunjuk Teknis</h3>
			<p>
				
			</p>
		</div>
		<div class="basic-text">
			<h4>Kode Sumber</h4>
			<p>
				Anda memiliki akses untuk ikut berkontribusi dalam pengembangan website maupun pengisian konten website WordIslam.
				Silakan akses kode sumber (source code) di <a href="https://github.com/andywahyudi/wordislam" target="_blank">Github</a> ↗.
			</p>
			<h4>Templates</h4>
			<p>
				Template gambar thumbnail bisa didownload <a href="https://www.canva.com/design/DAGVHYMyIRA/7rmH9i0jUKQj0P70RWkL5A/edit?utm_content=DAGVHYMyIRA&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">disini</a>
			</p>
		</div>
	</SidebarContent>
</Layout>
